* {
    padding: 0;
    margin: 0;
    box-sizing: 0;
    font-size: 1rem;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background: var(--background);
}

a {
    text-decoration: none;
    color: #999;
    display: block;
    text-align: right;
    font-size: 0.9rem;
    transition: .3s;
}

input {
    color: white;
}

a:hover {
    color: var(--button);
}

:root {
    --background: #1A1C1F;
    --card: #373737;
    --button: #6C63FF;
}